#intro {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    margin-left: 400px;
    margin-top: 100px;
    font-size: 25px;
    position:relative;
    top: 100px;
    color: rgb(186, 179, 81);

}
img{
    float: left;
    width: 300px;
    border-radius: 650px;
    margin-left: 35px;
}
body {
    background-color:rgb(92, 0, 0) ;
}
.box{
    font-size: 25px;
    margin-top: 270px;
    font-weight: bold;
    color:rgb(186, 179, 81);
}
#output{
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    color:rgb(186, 179, 81);
    margin-left: 350px;
}
#connect{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color:rgb(92, 0, 0);
    background-color:rgb(186, 179, 81);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.box2{
    font-size: 20px;

    margin-top: 10px;
    align-items: center;
    margin-left: 350px;
    font-weight: bold;
    color:rgb(92, 0, 0);
    background-color:rgb(186, 179, 81);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.box3{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 350px;
    font-weight: bold;
    color:rgb(92, 0, 0);
    background-color:rgb(186, 179, 81);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(186, 179, 81);
margin-top: 150px;
margin-left: 10px
}
.box4{
    font-size: 20px;
    margin-top: 25px;
    margin-right: 300px;
    font-weight: bold;
    color:rgb(92, 0, 0);
    background-color:rgb(186, 179, 81);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.box5{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 350px;
    font-weight: bold;
    color:rgb(92, 0, 0);
    background-color:rgb(186, 179, 81);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}